[submodule "l10n_gt_extra"]
	path = l10n_gt_extra
	url = https://github.com/rocketgithub/l10n_gt_extra.git
	branch = 11.0
[submodule "bolson"]
	path = bolson
	url = https://github.com/rocketgithub/bolson.git
	branch = 11.0
[submodule "importaciones"]
	path = importaciones
	url = https://github.com/rocketgithub/importaciones.git
	branch = 10.0
[submodule "conciliacion_bancaria"]
	path = conciliacion_bancaria
	url = https://github.com/rocketgithub/conciliacion_bancaria.git
	branch = 11.0
[submodule "desscasa"]
	path = desscasa
	url = git@github.com:rocketgithub/desscasa.git
[submodule "kardex"]
	path = kardex
	url = git@github.com:rocketgithub/kardex.git
	branch = 11.0
[submodule "fel_guatefactura"]
	path = fel_guatefactura
	url = git@github.com:rocketgithub/fel_guatefactura.git
	branch = master
[submodule "fel_gt"]
	path = fel_gt
	url = git@github.com:rocketgithub/fel_gt.git
